<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, max-age=0, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="X-UA-Compatible" content="IE=8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Alan Soares</title>

		<link rel="stylesheet" type="text/css" href="./css/app.css">
		<link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	<body>
		<!-- External Bower Components -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-animate.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-resource.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.5.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		
		<!-- Local Bower Components -->
		<script type="text/javascript" src="./js/bower_components/angular-ui-router.js"></script>
		<script type="text/javascript" src="./js/bower_components/ui-bootstrap.min.js"></script>
	
		<!-- App Components -->
		<script type="text/javascript" src="./js/components/app.module.js"></script>
		
		<script type="text/javascript" src="./js/components/posts/posts.module.js"></script>
		<script type="text/javascript" src="./js/components/posts/posts.controller.js"></script>
		<script type="text/javascript" src="./js/components/posts/posts.service.js"></script>
		
		<div id="container-principal">
			<div class="sidebar">
				<h1 class="sidebar-author">Alan Soares</h1>
				<p class="sidebar-description">Compartilhando conhecimento</p>
				<ul class="list-inline">
					<li><a target="_blank" href="https://twitter.com/alan_ssoares"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://github.com/alanssoares"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
					<li><a target="_blank" href="https://br.linkedin.com/in/alanssoares"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="post-list">
	    			<div data-ng-controller="PostsCtrl as vmPostsCtrl">
	    				<div class="post" data-ng-repeat="post in vmPostsCtrl.posts" data-ng-if="vmPostsCtrl.showList">
	    					<h1 class="post-title">{{post.title}}</h1>
	    					<p class="post-author">Postado dia {{post.date | date}} por {{post.author}}</p>
	    					<p class="post-description">{{post.description}}</p>
	    					<a class="post-button" style="text-decoration: none;" data-ng-click="vmPostsCtrl.showPost(post)">Continue lendo</a>
	    				</div>
	    				<div data-ng-if="vmPostsCtrl.showOnlyOne">
	    					<div data-ng-include="'{{vmPostsCtrl.post.url}}'"></div>
	    				</div>
	    			</div>
			</div>
		</div>
		<div id="footer-fixed">
			<small>© Copyright 2016, Alan Soares</small>
		</div>
	</body>
</html>
